@import '../../node_modules/normalize.css/normalize.css';

@import '_variables.css';
@import '_base.css';
@import '_legacy.css';

button,
button + div {
  margin-bottom: 40px;
}

span {
  display: inline-block;
}

span:first-of-type {
  width: 325px;
}

.success {
  color: var(--green);
}

.failed {
  color: var(--red);
}

.finished {
  margin-top: 40px;
  font-weight: bold;
}
